<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Article Details</title>
    <link rel="stylesheet" th:href="@{/css/v1/styles.css}">
    <script th:src="@{/js/v1/detailArticle.js}"></script>
</head>
<body>
<th:block th:replace="~{fragments/header :: header}"></th:block>

<main>
    <div class="form-container">
        <h2>Article Details</h2>
        <form id="content-form">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" disabled="disabled" required>
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <textarea id="content" name="content" required></textarea>
            </div>
            <div class="form-group half-width">
                <div>
                    <label for="createdAt">Created At</label>
                    <input type="text" id="createdAt" name="createdAt" disabled required>
                </div>
                <div>
                    <label for="updatedAt">Updated At</label>
                    <input type="text" id="updatedAt" name="updatedAt" disabled required>
                </div>
            </div>
            <div class="button-container">
                <button type="submit" id="update-button">Modify Content</button>
                <button type="button" id="delete-button">Delete Content</button>
            </div>
        </form>
    </div>
</main>

<th:block th:replace="~{fragments/footer :: footer}"></th:block>
</body>
</html>
